<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grazziotin</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    style="
      font-family: 'Nunito', 'Roboto', Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    "
  >
    <div
      style="
        text-align: center;
        width: 100%;
        padding: 10px 0;
        background-color: white;
      "
    >
      <img
        src="https://firebasestorage.googleapis.com/v0/b/grazziotin-fc829.appspot.com/o/brand-new.png?alt=media&token=18cf0d82-7262-463c-b3bb-e7fe86ed0e46"
        alt="Brand"
        style="height: 80px"
      />
    </div>

    <div
      style="
        width: 100%;
        height: 96px;
        border-bottom-left-radius: 48px;
        background-color: #00b2a6;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
      "
    >
      <p
        style="
          word-wrap: break-word;
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          margin: 0;
          line-height: 36px;
          letter-spacing: 0.04em;
          color: #fff;
          padding-top: 12px;
        "
      >
        Olá, {{user_name}}
      </p>

      <p
        style="
          word-wrap: break-word;
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          margin: 0;
          line-height: 36px;
          letter-spacing: 0.04em;
          color: #fff;
        "
      >
        {{welcome_text}}
      </p>
    </div>

    <div style="padding: 24px 48px">
      {{children}}

      <br />
      <p
        style="
          word-wrap: break-word;
          font-size: 20px;
          line-height: 22px;
          font-weight: normal;
          color: #6d6d72;
        "
      >
        Obrigado,
      </p>
      <p
        style="
          word-wrap: break-word;
          font-size: 20px;
          line-height: 22px;
          font-weight: bold;
          font-style: italic;
          color: #6d6d72;
        "
      >
        Grupo Grazziotin
      </p>
    </div>

    <div style="width: 100%; height: 48px; background-color: #00b2a6">
      <div
        style="
          overflow: hidden;
          margin: 0 auto;
          padding: 0;
          width: 287.27px;
          line-height: 48px;
        "
      >
        <div style="float: left">
          <a
            style="
              font-size: 14px;
              text-decoration: none;
              color: white;
              padding: 0 10px;
              border-right: 1px solid white;
            "
            href="#"
            target="_blank"
            >Central de Ajuda</a
          >
        </div>
        <div style="float: left">
          <a
            style="
              font-size: 14px;
              text-decoration: none;
              color: white;
              padding: 0 10px;
              border-right: 1px solid white;
              border-left: 1px solid rgba(0, 0, 0, 0.2);
            "
            href="#"
            target="_blank"
            >Termos</a
          >
        </div>
        <div style="float: left">
          <a
            style="
              font-size: 14px;
              text-decoration: none;
              color: white;
              padding: 0 10px;
              border-left: 1px solid rgba(0, 0, 0, 0.2);
            "
            href="#"
            target="_blank"
            >Privacidade</a
          >
        </div>
      </div>
    </div>

    <div style="padding: 24px">
      <p
        style="
          word-wrap: break-word;
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          margin: 0;
          line-height: 36px;
          letter-spacing: 0.04em;
          color: #ca3232; ;
        "
      >
        Esse é um e-mail automático, por favor não responder.
      </p>
    </div>
  </body>
</html>
